{% extends 'base.html' %}

{% block title %}Register New User{% endblock %}

{% block content %}

<form action="/register" method="POST" class="ml-3 mt-3">
    {{ form.hidden_tag() }}
    
    {% for field in form
        if field.widget.input_type != 'hidden' %}

   <div class="form-group">
     {{ field.label }}
     <br>
     {{ field }}

     {% for error in field.errors %}
       {{ error }}
     {% endfor %}
   </div>

 {% endfor %}
 <button class="btn btn-small btn-primary" type="submit">Register</button>

</form>

{% endblock %}